.button{
    padding: 20px;
    font-size: 16px;
    background-color: #9a9b9af7;
    color: black;
    width: 50%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    
}

@media screen and (min-width: 2400px) {
    .button:hover {
        background-color: rgb(226, 226, 226);
        color: white;
    }
}

