body{
    /* background-color: #0fb9d2; */
    background-image: linear-gradient(to right,#0fadc5,#1bdddd);
}

.app-title{
    margin: 50px;
}

.app-title h2{
    font-weight: bolder;
    font-size: 50px;
    -webkit-text-fill-color: #ffca08;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3262af;
    
}