.pokemon-list {
  float: left;
  width: 25%;
  padding: 10px 10px;
}


@media screen and (max-width: 600px) {
  .pokemon-list {
    width: 100%;
    display: block;
    margin-bottom: 5px;
  }
}

.pokemon {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    color: #ffffff;
     -webkit-text-fill-color: #ffffff;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #3262af;
    background-color: #ffb700;
}

.pokemon:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .5s;
    box-shadow: 0 4px 8px 0 #1bdddd;
    background-image: linear-gradient(to right, #ffca08, #ff921d)
}