
.modal-header{
    background-color: #ebebeb;
    background-image: linear-gradient(to right, #ffca08, #ff921d)
}

.modal-body{
    /* background-color: #ebebeb; */
    background-image: linear-gradient(to right, #0fadc5, #1bdddd);
}

.stats{
    font-weight: bolder;
    font-size: 15px;
}

.statsValue{
    color: #5c9225;
    font-weight: bolder;
}

h2{
    color: #e30112;
    font-weight: bolder;
}

ul{
    padding-left: 15px;
}